
<div ng-controller="PersonalRoomController">
    <div class="container col-sm-offset-2 col-sm-8 panel panel-info panelIndent" >
        <div class="row panel-heading">
            <div class="col-sm-offset-3 col-sm-6 personalRoomHeaders personalRoomRows " >
                <h2>This is your personal room</h2>
                <h3>you can:</h3>
            </div>

            <div class=" col-sm-offset-5 col-sm-7 personalRoomRows ">
                <button type="button" class="btn btn-primary" value="Back"  ui-sref="index.Publications">Back</button>
                <button type="button" class="btn btn-info" value="Apply">Apply</button>
            </div>
        </div>
    </div>
</div>