<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container col-sm-offset-2 col-sm-8">
        <div class="row generalMenu">
            <div class="col-sm-3 logo">
                <img src="images/LogoWhite.png">
            </div>
            <div class="col-sm-offset-6 col-sm-3 ">
                <ul>
                    <li class="link-list header-list">
                        <a>LogIn</a>
                    </li>
                    <li class="link-list header-list">
                        <a>LogUp</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row secondaryMenu">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Publications</a></li>
                <li role="presentation"><a href="#">Searching</a></li>
                <li role="presentation"><a href="#">Upload photo</a></li>
            </ul>
        </div>

        <div class="row content">

        </div>

        <div class="footer">

        </div>

    </div>

</body>
</html>
