body {
}
.search-user-block{
}

.user-list{
    text-decoration:none;
    list-style:none;
    cursor:pointer;
}

.inline-block {
    display:inline-block;
    padding: 15px;
}
.block-header{
    text-align:center;
}

.send-button{
    float:left;
}
.comment-content{
    padding:5px;
}