<div ng-controller="CreatePostController">
    <div class="container col-sm-offset-2 col-sm-8 panel panel-info panelIndent" >
        <div class="row panel-heading">
        <div class=" col-sm-offset-3 col-sm-6 personalRoomHeaders personalRoomRows " >
            <h2>Here you can create a new post & upload photos</h2>
        </div>
        </div>
        <div class="row panel-body">
            <div class="row personalRoomRows col-sm-6">
                <label for="usr">Post Name:</label>
                <input type="text" class="form-control" id="usr" placeholder="Post Name">
            </div>

            <div class="row col-sm-12 personalRoomRows">
                <h3>Choose pictures to add in your new album</h3>
                <div class="slide-animate" ng-include="Upload.url" ng-model="template" >
                </div>
            </div>
        </div>
        <div class="row panel-footer">
            <div class="row col-sm-offset-5 col-sm-7 personalRoomRows">
                <button type="button" class="btn btn-info" value="Cansel" ui-sref="index.Publications" ng-click="rollbackChanges()">Cansel</button>
                <button type="button" class="btn btn-info" value="Create" ng-click="create()">Create Post</button>
            </div>
        </div>
    </div>
</div>