<div ng-controller="SearchUserController">
    <div class="container col-sm-offset-2 col-sm-8 panel panel-info panelIndent search-user-block text-success"  >
        <div class="row panel-heading">
            <div class="col-sm-offset-3 col-sm-6 personalRoomHeaders personalRoomRows " >
                <h2>Here you can find a user by name or nick</h2>
            </div>
        </div>
        <div class="row panel-body">
        <div class="row personalRoomRows col-sm-6 col-lg-offset-3">
            <label for="usr">Find user:</label><span class="glyphicon glyphicon-search search-header"></span>
            <input type="text" class="form-control" id="usr" ng-model="search.$">
        </div>
        <div class="row col-sm-12 col-md-12">
            <ul ng-repeat="item in users | filter: search">
                <li ng-click="getUser(item)" class="user-list">
                    <div class="panel panel-success">
                        <div class="ava-image inline-block glyphicon glyphicon-user">
                            <img />
                        </div>
                        <div class="inline-block">
                            <span ng-bind="item.name + ' ' + item.surName"> user name</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
