<div ng-controller="ViewAlbumController">
    <div class="container col-sm-offset-2 col-sm-8 panel panel-info panelIndent">
        <div class="row panel-heading">
            <div class="col-sm-offset-3 col-sm-6 personalRoomHeaders personalRoomRows">
                <h2>You are viewing an album named: "{{currentAlbum.name}}"</h2>
            </div>
        </div>
        <div class="row panel-body">
            <div class="row personalRoomRows col-sm-12 col-md-12">

                <ul class="myCursor">
                    <li class="album-list inline-list panel panel-info text-success image-list " ng-repeat="picture in pictures" ng-click="open('lg', picture.id)">
                        <p> Likes:  {{picture.likes}} </p>
                        <img src="/Files/Medium/{{picture.id}}" />
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="row panel-footer">
            <div class="post-commnts">
                <ul ng-repeat="item in currentAlbumComments">
                    <li class="list-group panel-success link-list">
                        <span class="comment-content">{{GetSenderName(item.userId)}}  Say:</span>
                        <span class="comment-content" ng-bind="item.comment"> </span>
                        <p class="text-success">Date: {{item.created}}</p>
                        <hr class="colorgraph">
                    </li>
                </ul>
            </div>
            <div class="row col-sm-12 col-md-12 col-lg-12 col-xs-12 form-group">
                <div class="like-block">
                    <span class="display-like-content text-danger">Like this post</span>
                    <button class="-cx-PRIVATE-PostInfo__likeButton -cx-PRIVATE-LikeButton__root -cx-PRIVATE-Util__hideText coreSpriteHeartOpen display-like-content" data-reactid=".0.1.0.0.0.$1060107300852156957.2.2.0">Нравится</button>
                </div>
                <div>
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="comment.comment"></textarea>
                </div>
            </div>
            
            <div class="row col-sm-7 personalRoomRows">
                <button type="button" class="btn btn-success send-button" ng-click="addComment(comment)" value="Back">Send Comment</button>
                <button type="button" class="btn btn-primary col-sm-offset-5" value="Back" ui-sref="index.SearchUsers">Back</button>
                <button type="button" class="btn btn-primary" value="Home" ui-sref="index.Publications">Home</button>
            </div>
        </div>
    </div>
</div>